@import '../../utils/sass/application.sass';

.web-listing
    padding-top: 100px
    padding-bottom: 100px
    text-align: center
    opacity: 0
    animation: listingFadeIn .6s ease forwards
    animation-delay: .8s
    &__title
        @extend %heading
        font-size: 20px
        color: $white
        margin-bottom: 30px
        &--left
            text-align: left
    &__wrapper
        @extend %list
    &__item
        margin-bottom: 30px
        &:last-child
            margin-bottom: 0


@keyframes listingFadeIn
    to
        transform: translate3d(0, 0%, 0)
        opacity: 1
