@import '../../utils/sass/application.sass'

.modal
    position: fixed
    // top: -100%
    top: 0%
    right: 0px
    width: 100%
    height: 100%
    background: rgba($color-brand, .8)
    z-index: 21
    display: flex
    align-items: flex-start
    overflow: auto
    padding: 80px
    // visibility: hidden
    opacity: 0
    box-sizing: border-box
    transition: visibility .3s ease-in-out, opacity .3s ease-in-out, transform .6s $ease-in-out-back, top 0s ease-in-out
    transition-delay: 1.2s, .8s, .6s, 1.2s
    animation: modalFadeIn .6s ease forwards
    // &--open
    //     top: 0px
    //     visibility: visible
    //     opacity: 1
    //     transform: translateY(0%)
    //     transition-delay: 0s, 0s, 0s, 0s
    //     & + .page__inner
    //         filter: blur(5px)
    //         & + .bg
    //             filter: blur(5px)
    //     .modal__inner
    //         opacity: 1
    //         transform: translateY(0%)
    //         transition-delay: .6s, .6s
    &__inner
        width: 100%
        max-width: 864px
        padding: 60px
        margin: auto
        background: $color-brand-light
        border: 2px solid #DDE5EA
        box-shadow: 0 0 15px 20px rgba(0,0,0,0.05)
        border-radius: 10px
        text-align: center
        flex: none
        box-sizing: border-box
        opacity: 0
        transform: translateY(-100%)
        transition: transform .6s ease-in-out, opacity .3s ease-in-out
        transition-delay: 0s, .3s
        animation: modalInnerFadeIn .6s ease forwards
        animation-delay: .4s
    &__close
        border: none
        padding: 0
        outline: none
        position: absolute
        top: 0px
        right: 0px
        width: 60px
        height: 60px
        background: $color-brand-dark
        border-radius: 50%
        font-size: 0px
        cursor: pointer
        transform: translate(50%, -50%)
        transition: background .3s ease, transform .3s $ease-in-out-back
        svg
            width: 24px
            height: 24px
            fill: $white
            transition: transform .3s $ease-in-out-back
        &:hover
            background: lighten($color-brand-dark, 20%)
            transform: translate(50%, -50%) scale(1.1)
            svg
                transform: scale(1.3)
    &__title
        @extend %heading
        font-size: 30px
        margin-bottom: 60px


@keyframes modalFadeIn
    to
        opacity: 1

@keyframes modalInnerFadeIn
    to
        opacity: 1
        transform: translate(0)


@media(max-width: 567px)
    .modal
        padding-left: 10px
        padding-right: 10px
        &__inner
            width: 100%

