@import '../../utils/sass/application.sass';

.website
    background: $color-brand-light
    border-radius: 10px
    padding: 0px 0px 0px 30px
    text-align: left
    display: flex
    align-items: stretch
    box-shadow: 0 0 15px 20px rgba(0,0,0,0.05)
    overflow: hidden
    transform: translate3d(0, -50%, 0)
    opacity: 0
    animation: websiteFadeIn .6s ease forwards
    &:hover
        .website__edit, .website__delete
            opacity: 1
    // &--delay
    //     @for $i from 1 through 20
    //         &:nth-of-type(#{$i})
    //             animation-delay: #{.8 + $i * .1}s
    &__icon
        width: 32px
        height: 32px
        margin-right: 20px
        align-self: center
    &__title
        @extend %heading
        font-weight: $semibold
        font-size: 20px
        color: $color-brand-dark
        flex: 1
        padding-top: 20px
        padding-bottom: 20px
        text-decoration: none
    &__actions
        flex: none
        display: flex
    &__edit, &__delete
        outline: none
        background: none
        border: none
        font-size: 0px
        padding: 0px
        width: 84px
        cursor: pointer
        opacity: 0
        transition: opacity .6s ease, background .6s ease
        svg
            width: 24px
            height: 24px
            fill: $white
            transition: transform .3s $ease-in-out-back
    &__edit
        background: $color-accept
        &:hover
            background: darken($color-accept, 20%)
            svg
                transform: scale(1.3)
    &__delete
        background: $color-delete
        &:hover
            background: darken($color-delete, 20%)
            svg
                transform: scale(1.3)


@keyframes websiteFadeIn
    to
        transform: translate3d(0, 0%, 0)
        opacity: 1
