@import '../../utils/sass/application.sass'

.bookmark-form
    position: relative
    padding-top: 100px
    width: 100%
    max-width: 665px
    margin-left: auto
    margin-right: auto
    opacity: 0
    animation: logoFadeIn .6s ease forwards
    animation-delay: .4s
    &__input
        @extend %copy
        background: none
        outline: none
        border: none
        border-bottom: 2px solid rgba($white, .4)
        width: 100%
        padding: 20px 92px 20px 30px
        color: $white
        font-weight: $semibold
        font-size: 20px
        box-sizing: border-box
        transition: border-color .3s ease, color .3s ease
        &::placeholder
            opacity: .4
            transition: opacity .3s ease
        &--filled, &:not(&--error):active, &:not(&--error):focus
            border-color: $white
            &::placeholder
                opacity: 1
        &--filled
            & + .bookmark-form__submit
                opacity: 1
                svg
                    fill: $color-accept
                    transform: rotate(180deg) scale(1)
                &:hover
                    svg
                        transform: rotate(360deg) scale(1.2)
        &--error
            border-color: lighten($color-delete, 10%)
            color: lighten($color-delete, 10%)
            &::placeholder
                opacity: 1
            & + .bookmark-form__submit
                opacity: 1
                svg
                    fill: lighten($color-delete, 10%)
    &__submit
        outline: none
        border: none
        padding: 0
        background: none
        font-size: 0px
        position: absolute
        bottom: 20px
        right: 30px
        overflow: hidden
        opacity: .4
        cursor: pointer
        transition: opacity .3s ease
        svg
            fill: $white
            width: 24px
            height: 24px
            transition: fill .6s ease, transform .6s $ease-in-out-back


@keyframes formFadeIn
    to
        opacity: 1
