.header
    width: 100%
    display: flex
    justify-content: center
    padding-top: 40px
    &__brand
        display: block
        width: 200px
        height: 61px
        transform: translate3d(0, -100%, 0)
        opacity: 0
        animation: logoFadeIn .6s ease forwards

@keyframes logoFadeIn
    to
        transform: translate3d(0, 0%, 0)
        opacity: 1
