@import './application.sass';

.button
    outline: none
    @extend %copy
    font-weight: $semibold
    color: $white
    background: none
    border: 2px solid $white
    display: inline-block
    padding: 12px 45px
    border-radius: 10px
    cursor: pointer
    transition: color .3s ease, background .3s ease, border-color .3s ease
    & + &
        margin-left: 40px
    &:hover
        background: $white
        color: $color-brand-dark
    &--dark
        border-color: $color-brand-dark
        color: $color-brand-dark
        &:hover
            background: $color-brand-dark
            color: $white
    &--delete
        border-color: $color-delete
        background: $color-delete
        &:hover
            border-color: darken($color-delete, 20%)
            background: darken($color-delete, 20%)
            color: $white

