.container
    width: 100%
    margin-left: auto
    margin-right: auto
    max-width: 1024px

@media(max-width: 1023px)
    .container
        max-width: 768px

@media(max-width: 767px)
    .container
        max-width: 568px

@media(max-width: 567px)
    .container
        max-width: 414px

@media(max-width: 413px)
    .container
        max-width: 320px
