@import '../../utils/sass/application.sass'

.bg
    position: absolute
    top: 0px
    left: 0px
    z-index: -1
    width: 100%
    height: 100%
    min-height: 100vh
    background: #5078F4
    overflow: hidden
    &:before
        content: ""
        width: 100%
        height: 100%
        background-image: linear-gradient(0deg, rgba(136,176,250,0.00) 0%, rgba(93,133,246,0.76) 55%, #5078F4 100%)
        position: absolute
        left: 0px
        top: 0px
        z-index: 2
    &__media
        +aspect-ratio(16,9)
        width: 100%
        position: absolute
        bottom: 0px
        left: 0px
        z-index: 1
        opacity: .8
        &:after
            content: ""
            width: 100%
            height: 100%
            position: absolute
            top: 0px
            left: 0px
            z-index: 1
            background: #5078F4
            mix-blend-mode: screen
    &__video
        transform: translate3d(0)
    &__img
        width: 100%
        display: block
